#grid_cadastro > thead > tr th:nth-child(2) {
    width: 110px;
}

#grid_cadastro > thead > tr th:nth-child(3) {
    width: 200px;
}

#cadastro {
    width: 100%;
    margin: 0 auto;
}

#cadastro_cabecalho {
    border-bottom: 1px #dddddd solid;
}

#cadastro_conteudo {
    margin-top: 20px;
}

#cabecalho_grid {
    margin-bottom: 20px;
}

.invisivel {
    display: none;
}

.modal_cadastro {
    width: 70%;
}
.modal {
    overflow-y: hidden;
}

#mensagem_grid {
    color: #808080;
    border: solid 1px;
    border-color: darkgrey;
    padding: 50px;
    font-weight: bold;
    font-size: x-large;
}